[submodule "submodules/fonts"]
	path = submodules/fonts
	url = https://github.com/chrised/fonts.git
	branch = master
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
[submodule "oh-my-zsh-custom/powerlevel10k"]
	path = oh-my-zsh-custom/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
[submodule "/Users/chrised/.dotfiles/submodules/bash-git-prompt"]
	path = /Users/chrised/.dotfiles/submodules/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
	branch = master
[submodule "/Users/chrised/.dotfiles/submodules/vim-airline"]
	path = /Users/chrised/.dotfiles/submodules/vim-airline
	url = https://github.com/bling/vim-airline.git
	branch = master
[submodule "/Users/chrised/.dotfiles/submodules/vim-disapprove-deep-indentation"]
	path = /Users/chrised/.dotfiles/submodules/vim-disapprove-deep-indentation
	url = https://github.com/dodie/vim-disapprove-deep-indentation
	branch = master
[submodule "/Users/chrised/.dotfiles/submodules/vim-erlang-skeletons"]
	path = /Users/chrised/.dotfiles/submodules/vim-erlang-skeletons
	url = https://github.com/vim-erlang/vim-erlang-skeletons
	branch = master
